  <fieldset>
    <div class='control-group'>
      <label class='control-label' for="password">Password</label>
      <div class='controls'>
        <%= f.password_field :password %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class='control-group'>
      <label class='control-label' for="password_confirmation">Retype pwd</label>
      <div class='controls'>
        <%= f.password_field :password_confirmation %>
       </div>
    </div>
  </fieldset>