<h1>Users </h1>

<dl>
<% if @users.size>1 %>
  <% @users.each do |user| %>
    <% if current_user != user %>
      <dt><%= user.email %></dt>
      <dd>
        <span class="btn-group">
          <% if user.is_admin? %>
            <%= link_to "Remove from admins", toggle_permissions_path(user), class: 'btn' %>
          <% else %>
            <%= link_to "Make admin", toggle_permissions_path(user), class: 'btn' %>
          <% end %>
          
          
          
          <%= link_to "Delete", user_path(user), method: :delete, class: 'btn btn-danger' %>
        </span>
      </dd>    
    <% end %>
  <% end %>
<% else %>
  <dt> No other users :( </dt>
<% end %>
</dl>